.formContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap : 10px;
}

.input {
    background-color: #CDA47B;
    border-radius: 5px;
    opacity: 0.9;
    color: black;
    padding: 5px;
}