@import "tailwindcss";

:root {
  --background: #320E4D;
  --foreground: #FFFFFF;
  --font-pixelify-sans: 'Pixelify Sans', sans-serif;
  --font-jersey-15: "Jersey 15", sans-serif;
  --font-source-code-pro: 'Source Code Pro', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jersey-15);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pixelify-sans);
}
