@import "tailwindcss";

:root {
  --background: #252525;
  --foreground: #FFFFFF;
  --font-pixelify-sans: 'Pixelify Sans', sans-serif;
  --font-jersey-15: "Jersey 15", sans-serif;
  --font-source-code-pro: 'Source Code Pro', monospace;
  --gradient-red: linear-gradient(#572619, #8a3620);
  --gradient-brown: linear-gradient(180deg,rgba(102, 53, 37, 1) 52%, rgba(69, 38, 24, 1) 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jersey-15);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pixelify-sans);
  margin: 1rem;
}

h1{
    font-family: var(--font-jersey-15);
    font-size: 3rem;
}

h3 {
    font-family: var(--font-jersey-15);
    font-size: 1.5rem;
}

p {
    font-family: var(--font-source-code-pro);
    font-size: 0.85rem;
}
