.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: fit-content;
}

.card {
  position: relative;
  width: 100%;
  min-height: 8rem;
  border-radius: 20px 20px 20px 20px;
  padding: 1rem 1rem 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  background-color: #CDA47B;
  border-radius: 20px 20px 20px 20px;
}

.unchecked {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #b5b5b5;
  border: none;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.check {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #38180D;
  border: none;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.dots {
  position: absolute;
  bottom: 1.3rem;
  left: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 1;
}

.dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dotActive {
  background-color: #38180D;
  opacity: 40%;
}

.dotInactive {
  background-color: #3a1f12;
}

.text {
  text-align: center;
  color: #38180D;
  margin-top: 15px;
  flex: 1;
  word-break: break-word;
}

.tagContainer {
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 0.2rem;
  max-width: 70%;
}

.tag {
  background-color: #252525;
  color: #9E4326;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.7rem;
  margin-left: -1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.tag:hover {
  transform: translateX(-8px) scale(1.05);
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}